	<%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <table class="pretty">
  <tr>
    <th><%= sortable "number", "Number" %></th>
    <th><%= sortable "date", "Date" %></th>
    <th><%= sortable "state", "Status" %></th>
    <th><%= sortable "payment", "Payment" %></th>
    <th><%= sortable "name", "Name" %></th>
    <th><%= sortable "address", "Address" %></th>
    <th><%= sortable "address2", "Address 2" %></th>
    <th><%= sortable "zip_code", "Zip code" %></th>
    <th><%= sortable "city", "City" %></th>
    <th><%= sortable "country", "Country" %></th>
    <th><%= sortable "phone", "Phone" %></th>
    <th><%= sortable "mail", "Mail" %></th>
  </tr>
	<% for order in @orders %>
  <tr>
    <td><%= order.number %></td>
    <td><%= order.date %></td>
    <td><%= order.state %></td>
    <td><%= order.payment %></td>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.address2 %></td>
    <td><%= order.zip_code %></td>
    <td><%= order.city %></td>
    <td><%= order.country %></td>
    <td><%= order.phone %></td>
    <td><%= order.mail %></td>
  </tr>
  <% end %>
</table>