<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= sortable "sku", "SKU" %></th>
      <th><%= sortable "name", "Product name" %></th>
      <th><%= sortable "stock", "Stock" %></th>
      <th><%= sortable "price", "Price" %></th>
      <th><%= sortable "ean", "EAN number" %></th>
    </tr>
  </thead>
  	<% for product in @products %>
  <tbody>
    <tr>
      <td><%= product.sku %></td>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= product.stock %></td>
      <td><%= product.price %></td>
      <td><%= product.ean %></td>
    </tr>
  </tbody>
  <% end %>
</table>